<html>
    <head>
        <title>Mars Scraper</title>
    </head>
    
    <body>
        <h1>Mars Scraper</h1>
        <a href='/scrape'>Scrape New Data</a>

        <h2>Latest Mars News</h2>
        <h4>{{ mars.news_title }}</h4>
        <p>{{ mars.news_p }}</p>
        <br>
        <br>
        <h2>Featured Mars Image</h2>
        <img src ="{{ mars.featured_image_url }}" style="max-width:100%;" alt="featured_img">
        <br>
        <h3> Mars Facts</h3>
        <table>{{ mars.facts_table|safe }}</table>

        <br>
        <h2>Mars Hemispheres</h2>


        
    </body>
</html>